<div class="card bg-gradient container-fluid p-4 border-0 shadow-lg rounded-4">
  <div
    class="card-body d-flex flex-column justify-content-center align-items-center gap-2"
  >
    <img [src]="image" class="img-fluid rounded-3 shadow" alt="cat image" />
    <h4 class="card-title mt-3">{{ title }}</h4>
    <p class="card-text align-content-center">
      {{ this.storeService.cat().fact }}
    </p>
    <button (click)="showNextFact()" class="btn btn-primary px-4 py-2">
      Show Next Fact
    </button>
  </div>
</div>
